name: build and test

on:
  push:
    branches: [main]

jobs:
  build:
   runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: echo test files
        run: |
          echo "Building the project..."
          


  test:
    runs-on: ubuntu-latest
    steps:
      - name: test step
        run: |
          echo "Running tests..."
          needs: build

    