name: only-k8s-files

on:
  push:
    branches: [ main ]
    paths:
      - "k8s/**"

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: list of files only-k8s-files folder
        run: |
           ls -R .k8s/
      
